$font-family-main: "Mont", arial, helvetica, sans-serif;

$color-white: #fff;
$color-primary: #313237;
$color-secondary: #89939a;
$color-red: #f52929c7;
$color-lightblue: #d4e5f161;
$color-green: #22eb97f5;

$header-height: 100px;
$footer-height: 100px;
